.intro-tag-line {
  font-family: 'Droid Serif', 'Helvetica Neue',
  Helvetica, Arial, sans-serif;
  font-size: 23px;
  font-style: italic;
}
/*Tell Me More button*/
.btn-xl {
  background-color: blue;
}
header.masthead {
  background-image: url("../img/Santorini_copy.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*@media (min-width: 576px)*/
.col-sm-4 {
  flex: auto;
  max-width: 100.33%;
}

.team-member img {
  width: 250px;
  height: 250px;
  border: 7px solid white;
}
